<span>
    <a href="{{{url}}}">{{{name}}} <i class="fa fa-search" aria-hidden="true"></i></a>
    <a href="{{{browseurl}}}"><i class="fa fa-list-alt" aria-hidden="true"></i></a>
    <a href="{{{browseurl}}}" class="startoggler" data-tree="startoggler" data-tablename="{{name}}">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
    </a>
</span>